div < button[name="combatStatsNext"] {
	display: block;
}

button[name="combatStatsPrevious"] {
	display: block;
	float: left;
}

#combatStats input[name="name"] {
	width: 50%;
}

#combatStats select {
	width: 150px;
}

button[name="combatStatsNext"] {
	display: block;
	float: right;
}