@font-face {
    font-family: 'weiss_initialenregular';
    src: url('/src/assets/fonts/weissinitialen-webfont.woff2') format('woff2'),
        url('/src/assets/fonts/weissinitialen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weiss_initialenalternates';
    src: url('/src/assets/fonts/weissinitialen-alternates-webfont.woff2') format('woff2'),
        url('/src/assets/fonts/weissinitialen-alternates-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    text-shadow: 0px 0px 3px rgb(0,0,0);
    font-family: "weiss_initialenregular", sans-serif;
}

html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
html, body {
    margin: 0;
    padding: 0;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(/src/assets/img/character-generator-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex
}

#game {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}
#game,#game * {
    transition: 1s *;
}

ul.gladiatorData {
    background-image: url(/src/assets/img/gladiator.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    list-style: none;
    background-color:rgba(164, 148, 105, 0.36);
    margin: 50px 0;
    padding: 10px;
    border: 0.5px outset rgba(170, 130, 25, 0.32);
    border-radius: 3px;
}
ul.gladiatorData>li {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.32);
    padding: 5px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.32);
}
ul.gladiatorData>li>span {
    flex:2;
}
#game>.info, #game>.action, #game>.biometricStats, #game>.combatStats {
    width: 40vw;
    background: rgba(0, 0, 0, 0.72);
    color: rgb(255, 255, 255);
    margin: 2.5vh 0;
    padding: 5vh;
}

input,select,textarea {
    background: rgba(0, 0, 0, 0.32);
    color: rgb(170, 130, 25);
    padding: 5px;
    border: 0.1px inset rgb(0, 0, 0, 0.32);
}

input.stat {
    width: 5vw;
}
input.biometrics {
    width: 10vw;
}
form>label {
    flex:1;
    flex-shrink: 1;
}

html,select,input,textarea {
    font-size: 3vw;
}

@media (min-width: 768px){
    html,select,input,textarea {
        font-size: 2vw;
    }
}
@media (orientation: portrait){
    input.stat {
        width: 5vh;
    }

    #game>.info, #game>.action, #game>.biometricStats, #game>.combatStats {
        width: 100%;
        margin: 0;
        border: 0;
        margin-bottom: 3px;
        border-radius: 0;
    }

    html,select,input,textarea {
        font-size: 2vh;
    }

    @media (max-width: 768px){
        html,select,input,textarea {
            font-size: 3vh;
        }
    }
}