/* CSS Start */
/* Display */
#navigation {
  width: 100%;
  background: rgba(0, 0, 0, 0.72);
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: space-between;
}

#navigation ul.nav-left > li {
  border-right: 1px solid rgba(255, 255, 255, 0.32);
}


#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#navigation ul > li {
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

#navigation ul > li:hover,
#navigation ul > li.selected {
  color: rgb(170, 130, 25);
  background: rgb(0, 0, 0);
}

/* CSS End */
