/* CSS Start */
/* Attributes */
#attributes div > button[name="attributesNext"] {
  display: block;
}

#attributes button[name="attributesPrevious"] {
  display: block;
  float: left;
}

#attributes ul > li > .label {
  flex: 7;
}

#attributes ul > li > .final {
  flex: 2;
}

#attributes .slider {
  width: 480px;
  margin: 11.75px 40px;
}

#attributes input[name="name"] {
  width: 57%;
}

#attributes button[name="attributesNext"] {
  display: block;
  float: right;
}

/* CSS End */
