/* CSS Start */
/* Display */

#sound-settings-dialog {
  width: 420px;
  display: none;
  background: rgb(0, 0, 0, 0.72);
}

#sound-settings-dialog .note {
  font-size: 12px;
  color: #848484;
  font-family: arial;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.72);
}

#sound-settings-dialog [name=master-sound] {
  width: 60px;
  margin: 11.75px 40px;
}

#sound-settings-dialog [name=master-volume],
#sound-settings-dialog [name=music-volume],
#sound-settings-dialog [name=fx-volume] {
  width: 360px;
  margin: 11.75px 40px;
}

#sound-settings-dialog .slider .custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  margin-left: -30px;
  text-align: center;
  line-height: 1.6em;
}

#sound-settings-dialog ul.userData {
  list-style: none;
  background-color: rgba(164, 148, 105, 0.36);
  margin: 50px 0;
  padding: 10px;
  border: 0.5px outset rgba(170, 130, 25, 0.32);
  border-radius: 3px;
}

#sound-settings-dialog ul.userData > li {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.32);
  padding: 5px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.32);
}

#sound-settings-dialog ul.userData > li > span {
  padding-top: 6px;
  flex: 2;
}

/* CSS End */
