#attributes div < button[name="attributesNext"] {
	display: block;
}

#attributes button[name="attributesPrevious"] {
	display: block;
	float: left;
}
#attributes .slider {
	width: 480px;
	margin: 11.75px 40px;
}
#attributes .slider .custom-handle {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	margin-left: -23px;
	text-align: center;
	line-height: 1.6em;
}

#attributes input[name="name"] {
	width: 57%;
}

#attributes button[name="attributesNext"] {
	display: block;
	float: right;
}