/* CSS Start */
/* Main */
@font-face {
    font-family: 'weiss_initialenregular';
    src: url('/font/weissinitialen-webfont.woff2') format('woff2'),
        url('/font/weissinitialen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weiss_initialenalternates';
    src: url('/font/weissinitialen-alternates-webfont.woff2') format('woff2'),
        url('/font/weissinitialen-alternates-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    font-family: "weiss_initialenregular", sans-serif;
}

html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(/img/character-generator-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex
}

#game {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

ul.gladiatorData {
    background-image: url(/img/gladiator.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    list-style: none;
    background-color: rgba(164, 148, 105, 0.36);
    margin: 10px 0 0 0;
    padding: 10px;
    border: 0.5px outset rgba(170, 130, 25, 0.32);
    border-radius: 3px;
}

ul.gladiatorData>li {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.32);
    padding: 5px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.32);
}

ul.gladiatorData>li>span {
    padding-top: 6px;
    flex: 2;
}

ul.gladiatorData>li>.bmiMod {
    text-align: right;
    font-style: italic;
    padding: 5px;
    color: rgb(170, 130, 25);

}

#game .item {
    position: relative;
    width: 720px;
    background: rgba(0, 0, 0, 0.72);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 25px;
}

input,
select,
textarea,
button {
    background: rgba(0, 0, 0, 0.32);
    color: rgb(170, 130, 25);
    padding: 5px;
    border: 0.1px solid rgb(0, 0, 0, 0.32);
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.stat {
    box-sizing: border-box;
    width: 90px;
    height: 40px;
    padding: 5px;
}

.dice {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: 1px outset #3c3c3c;
    cursor: pointer;
    vertical-align: middle;
}

.dice:hover {
    border-color: #7c7c7c;
}

.dice:active {
    border-style: inset;
}

.slider .custom-handle:active {
    cursor: grabbing;
}

.slider .custom-handle {
    cursor: grab;
    outline: none;
    border: 0px solid black;
    width: 1.6em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    margin-left: -14.4px;
    text-align: center;
    line-height: 1.6em;
    border-radius: 1.6em;
    box-shadow: -4px 5px 5px 0px rgba(0, 0, 0, 0.75);
    background: radial-gradient(ellipse at center, rgb(90, 77, 42) 36%, rgba(0, 0, 0, 0.72) 100%);
}

form>label {
    flex: 1;
    flex-shrink: 1;
}

button {
    cursor: pointer;
}

html,
select,
input,
textarea,
button {
    font-size: 18px;
}

/* CSS End */
