/* CSS Start */
/* Display */
div > button[name="cultureNext"] {
  display: block;
}

#culture input[name="name"] {
  width: 450px;
}

button[name="cultureNext"] {
  display: block;
  float: right;
}

/* CSS End */
