div < button[name="cultureNext"] {
	display: block;
}

#custom-handle {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}

#culture input[name="name"] {
	width: 450px;
}

button[name="cultureNext"] {
	display: block;
	float:right;
}