div < button[name="biometricsNext"] {
	display: block;
}

button[name="biometricsPrevious"] {
	display: block;
	float: left;
}

#biometrics input[name="name"] {
	width: 50%;
}

#biometrics select {
	width: 150px;
}

button[name="biometricsNext"] {
	display: block;
	float: right;
}